[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
google-auth-httplib2 = "*"
pyinstaller = "*"
requests = "*"
pyperclip = "*"
pytubefix = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
